/******************/
/*     Global     */
/******************/

*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
  font-family: 'Barlow', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration:none;
  font-family: 'Barlow', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.btn-blue-bg {
  color: azure;
  background-color: #537791;
  display: inline-block;
  padding: 10px 30px;
}
/******************/
/*     Header     */
/******************/

header {
  background-color: #537791;
  height: 100px;
}
.logo {
  width: 35%;
  margin: 0 auto;
  padding: 15px 100px 0px 0;
  margin-left: 50px;
  float: left;
}
.logo h2 {
  color: aliceblue;
  font-size: 40px;
  letter-spacing: 5px;
}
.logo p {
  color: aliceblue;
  letter-spacing: 2px;
}
.navigation {
  float: right;
  margin-right: 50px;
}
.nav {
  display: flex;
  align-items: flex-end;
  height: 100px;
}
.nav li {
  width: 70px;
  text-align: center;
  height: 60px;
}
.nav li.active {
  height: 80px;
  background-color: #E7E6E1;
}
.nav li.active a {
  background-color: #E7E6E1;
}
.nav:hover li {
  height: 60px;
}
.nav li a {
  color: #537791;
  width: 70px;
  min-height: 40px;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F6E7;
}
.nav li:hover {
  height: 80px;
}
.nav li a:hover {
  background-color: #E7E6E1;
}

/******************/
/*     Poster     */
/******************/

.poster .poster-inner {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  height: 500px;
}
.poster .poster-inner img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  margin-top: -16px;
}
.poster .poster-inner .sbutton1 {
  position: absolute;
  padding: 5px;
  border: none;
  background-color: #537791;
  font-size: 40px;
  width: 50px;
  color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.poster .poster-inner .sbutton2 {
  position: absolute;
  padding: 5px;
  border: none;
  background-color: #537791;
  font-size: 40px;
  width: 50px;
  color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/******************/
/*     About     */
/******************/

.welcome {
  background-color: #E7E6E1;
  height: 400px;
  padding: 50px 0;
  overflow: hidden;
  color: #537791;
}
.welcome .texter {
  width: 48%;
  float: left;
  color: #537791;
}
.welcome .texter h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.welcome .texter p {
  font-size: 20px;
  letter-spacing: 1.4px;
  margin-bottom: 25px;
  }
.welcome .img-g {
  width: 40%;
  text-align: center;
  float: right;
}

/******************/
/*     Features     */
/******************/

.features {
  background-color: #F7F6E7;
  color: #537791;
  padding: 50px 0;
}
.features .box {
  width: 33.33%;
  padding-right: 30px;
  box-sizing: border-box;
  float: left;
}
.features .box:last-child {
  padding: 0;
}
.features .box h2 {
  color: #537791;
  margin-bottom: 15px;
  font-size: 30px;
}
.features .box img {
  width: 100%;
  min-height: 200px;
  margin: 10px 0px ;
}
.features .box p {
  margin: 10px 0px 20px 0px;
  letter-spacing: 1.4px;
  line-height: 1.4;
}

/******************/
/*     Team     */
/******************/

.team {
  padding: 50px 0;
}
.team h1 {
  color: #537791;
  margin-bottom: 15px;
  font-size: 30px;
}
.team .boxs {
  width: 23%;
  min-height: 100%;
  float: left;
  margin: 20px 10px;
}
.team .boxs img {
  width: 200px;
  min-height: 200px;
  border-radius: 100%;
  display: table;
  margin: auto;
}
.team .boxs p {
  margin: 20px 0px;
  font-size: 20px;
  letter-spacing: .4px;
  color: #537791;
  text-align: center;
  font-weight: bold;
}


.methods {
  width: 45%;
  float: left;
  padding: 30px 2% 8%;
}





.methods-img{
  width: 40%;
  float: right;
  min-height: 100%;
  padding: 60px 0px
}

.methods-img img {
  width: auto;
  min-height: auto;
}


/*-----Footer section start-----*/

.foot {
	width: 100%;
    height: 140px;
    margin: 0 auto;
    background-color: #537791;
}

.some {
  width: 65%;
  min-height: 100%;
  margin: 0 auto;
  float: left;
}

.some h2 {
  color: aliceblue;
  font-size: 45px;
  letter-spacing: 6px;
  margin: 2px;
  margin-top: 10px;
}

.some p {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 8px;
}

.some h3 {
  color: #efeeed;
  font-size: 21px;
  margin-top: 5px;
font-family: 'Barlow Semi Condensed', sans-serif;
}

.social {
  width: 100%;
  min-height:100%;
  margin: auto;
}

.media {
  padding-left: 970px;
}

.media i{
  color: aliceblue;
  padding: 20px;
  font-size: 30px;
  margin-top: 12px;
}

.ul2 ul {
  display: flex;
  padding-left: 20px;
}

.ul2 ul a{
  color: aliceblue;
  padding: 0px 20px 0px 0px;
}

.ul2 p{
  color: aliceblue;
}

.copy {
  margin: 20px 0px 20px 965px;
}

.copy p {
  color: aliceblue;
}
.buttom	{
  background: blue;
  color: white;
  padding: 16px;
  position: absolute;
  z-index: 100;
}
#im-1 {
  width: 230px;
  min-height: 230px;
  border-radius: 100%;
  z-index: 2;
  margin: 0px 40px 5px 200px;
}

#im-2 {
  width: 200px;
  min-height: 200px;
  border-radius: 100%;
  z-index: 3;
  margin: -80px 40px 5px 300px;
}

#im-3 {
  width: 190px;
  min-height: 190px;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  top: -250px;
  left: 50px;
}
/*---------------The End------------*/
