/******************/
/*     Global     */
/******************/

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: 'Barlow', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration:none;
  font-family: 'Barlow', sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.container:after {
  content: '';
  display: table;
  clear: both;
}
.btn-blue-bg {
  color: azure;
  background-color: #537791;
  display: inline-block;
  padding: 10px 30px;
}

/******************/
/*     Header     */
/******************/

header {
  background-color: #537791;
  height: 100px;
}
.logo {
  width: 35%;
  margin: 0 auto;
  padding: 15px 100px 0px 0;
  float: left;
}
.logo h2 {
  color: aliceblue;
  font-size: 40px;
}
.logo p {
  color: aliceblue;
}
.navigation {
  float: right;
}
.nav {
  display: flex;
  align-items: flex-end;
  height: 100px;
}
.nav li {
  width: 70px;
  text-align: center;
  height: 60px;
}
.nav li.active {
  height: 80px;
  background-color: #E7E6E1;
}
.nav li.active a {
  background-color: #E7E6E1;
}
.nav:hover li {
  height: 60px;
}
.nav li a {
  color: #537791;
  width: 70px;
  min-height: 40px;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F6E7;
}
.nav li:hover {
  height: 80px;
}
.nav li a:hover {
  background-color: #E7E6E1;
}

/******************/
/*     Poster     */
/******************/

.poster .poster-inner {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  height: 500px;
}
.poster .poster-inner img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  margin-top: -16px;
}
.poster .poster-inner .sbutton1 {
  position: absolute;
  padding: 5px;
  border: none;
  background-color: #537791;
  font-size: 40px;
  width: 50px;
  color: white;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.poster .poster-inner .sbutton2 {
  position: absolute;
  padding: 5px;
  border: none;
  background-color: #537791;
  font-size: 40px;
  width: 50px;
  color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/******************/
/*     About     */
/******************/

.welcome {
  background-color: #E7E6E1;
  padding: 50px 0;
  overflow: hidden;
  color: #537791;
}
.welcome .texter {
  width: 48%;
  float: left;
  color: #537791;
}
.welcome .texter h1 {
  font-size: 40px;
  margin-bottom: 30px;
}
.welcome .texter p {
  font-size: 18px;
  margin-bottom: 25px;
}
.welcome .img-g {
  width: 40%;
  text-align: center;
  float: right;
}

/******************/
/*     Features     */
/******************/

.features {
  background-color: #F7F6E7;
  color: #537791;
  padding: 50px 0;
}
.features .box {
  width: 30%;
  box-sizing: border-box;
  float: left;
}
.features .box:nth-child(2) {
  margin: 0 5%;
}
.features .box h2 {
  color: #537791;
  margin-bottom: 15px;
  font-size: 30px;
}
.features .box img {
  width: 100%;
  min-height: 200px;
  margin: 10px 0px ;
}
.features .box p {
  margin: 10px 0px 20px 0px;
  line-height: 1.4;
  font-size: 18px;
}

/******************/
/*     Team     */
/******************/

.team {
  padding: 50px 0;
}
.team h1 {
  color: #537791;
  margin-bottom: 30px;
  font-size: 30px;
}
.team .boxes {
  display: flex;
  justify-content: space-between;
}
.team .boxs {
  width: 230px;
}
.team .boxs img {
  width: 200px;
  min-height: 200px;
  border-radius: 100%;
  display: table;
  margin: auto;
}
.team .boxs h2 {
  color: #537791;
  margin-top: 20px;
}
.team .boxs p {
  margin: 10px 0px 20px 0px;
  line-height: 1.4;
  color: #537791;
  margin-bottom: 0;
  font-size: 18px;
}

/******************/
/*     Footer     */
/******************/

footer {
  margin: 0 auto;
  background-color: #537791;
  padding: 30px 0;
}
footer .some {
  width: 65%;
  min-height: 100%;
  margin: 0 auto;
  float: left;
}
footer .some h2 {
  color: aliceblue;
  font-size: 40px;
}
footer .some p {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}
footer .some h3 a {
  color: #efeeed;
  font-size: 18px;
  margin-top: 5px;
  font-family: 'Barlow', sans-serif;
}
footer .social {
  width: 35%;
  float: left;
}
footer .media {
  text-align: right;
}
footer .media i {
  color: aliceblue;
  padding: 20px 0 20px 20px;
  font-size: 30px;
  margin-top: 12px;
}
footer .ul2 ul {
  display: flex;
  padding: 0;
  justify-content: flex-end;
}
footer .ul2 ul a {
  color: aliceblue;
  padding-left: 20px;
}
footer .ul2 p {
  color: aliceblue;
}
footer .copy {
  margin: 20px 0px 20px 965px;
}
footer .copy p {
  color: aliceblue;
}
footer .buttom	{
  background: blue;
  color: white;
  padding: 16px;
  position: absolute;
  z-index: 100;
}
